body.home {
    padding: 0;
}

header.home {
    padding: 30px;
    position: absolute;
    z-index: 1;
    width: 100%;
}

section {
    position: relative;
    font-family: gothamBook;
    padding: 40px;
}

section p {
    font-size: 12px;
    margin: 0;
}

p.op-desc {
    position: absolute;
    width: 200px;
    top: 200px;
}

div.op-intro {
    position: absolute;
    width: 300px;
    right: 30px;
}

div.op-into h2 {
    font-family: gothamBold;
}

p.op-desc span {
    font-family: gothamRegular;
    font-size: 24px;
}

img.basket {
    width: 250px;    
    position: absolute;
}

img.basket.assorted {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

img.basket.super {
    top: 41%;
    left: 10%;
}

img.basket.mini {
    right: 22%;
    top: 63%;
    z-index: -1;
}

p.mini, p.super {
    font-family: brandonBold;
    font-size: 25px;
    position: absolute;
}
p.super {
    bottom: 49%;
    left: 43%;
    background-color: #fff;
}

p.mini {
    bottom: 25%;
    right: 10%;
    background-color: #fff;
}

#super-add {
    position: absolute;
    top: 52%;
    left: 16%;
    font-size: 10px;
    padding: 5px 10px;
}

#mini-add {
    right: 28%;
    position: absolute;
    top: 74%;
    font-size: 10px;
    padding: 5px 10px;
}

.assort {
    position: absolute;
    top: 13%;
    right: 42%;
    font-family: gothamBold;
}

.assort-desc {
    position: absolute;
    top: 17%;
    right: 39%;
    font-size: 17px;
    font-family: gothamBold;
}

#super {
    position: absolute;
    left: 30%;
    top: 42%;
}

#mini {
    position: absolute;
    right: 17%;
    top: 66%;
}


/* Styling carousel */
.carousel-caption {
    font-family: grandHotelRegular;
}

.carousel-caption {
    display: flex;
    justify-content: space-between;
    width: 90%;
    left: 0;
    margin: 0 5%;
}

.carousel-control {
    width: 5%;
}

ol.carousel-indicators {
    width: 9%;
    left: 3%;
    top: 48%;
    margin-left: 0;
}

.carousel-inner {
    height: 400px;
}

.carousel-indicators li {
    background-color: #FFF;
}

button.shop-now {
    cursor: pointer;
    color: #FFF;
    background-color: #000;
    text-transform: uppercase;
    padding: 5px 30px;
    border: 1px solid #000;
    border-radius: 16px;
    outline: 0;
    margin-top: 20px;
    font-family: brandonMedium;
    height: 31px;
}